.todo-list-template {
  background: white;
  width: 500px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 4rem auto;
}

.title {
  padding: 2rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 100;
  background: teal;
  color: white;
}

.form-wrapper {
  padding: 1rem;
  border-bottom: 1px solid teal;
}

.todos-wrapper {
  min-height: 5rem;
}