@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap");

* {
    background-color: rgb(245, 245, 245);
    font-family: "Noto Sans KR", sans-serif;
}

h1 {
    font-weight: 800;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 0px;
}

form {
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
}

section {
    background-color: inherit(255, 255, 255);
    margin-right: 20px;
    margin-bottom: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border-bottom: 1px solid rgba(119, 119, 119, 0.377);
    border-radius: 10px 10px 0px 0px;
}

main {
    margin-left: 20px;
}

button {
    border: 0px;
    background-color: inherit;

    margin: 0px;
    padding: 0px;
}

p {
    background-color: inherit;
}

input {
    border: 0px;
    background-color: inherit;
    /*background-color: black;*/
    width: 70%;
}

.inputbtn {
    width: auto;
}

.card {
    margin-right: 20px;
    margin-top: 70px;
    margin-bottom: 30px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgb(207, 207, 207);
}

.card___btns {
    background-color: inherit;
    display: flex;
    justify-content: center;
}

.btn {
    background-color: inherit;
    margin-left: 10px;
    color: rgb(128, 128, 128);
}

section:hover {
    border-color: rgb(248, 131, 131);
}
section input:hover {
    color: black;
}
.btn:hover {
    color: black;
}
input {
    outline-style: none;
    border-radius: 0px 0px; /* 아이폰의 input 라운드 초기화 */
    -webkit-appearance: none; /* form 요소의 디바이스 기반 스타일 초기화 */
}

div {
    background-color: inherit;
}

.done {
    background-color: rgb(207, 207, 207);
}
.done input {
    text-decoration: line-through;
}
