section {
    height: 30px;
    width: 300px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    background-color: inherit;
}

.todoBtn {
    border: 0px solid;
    background-color: inherit;
    color: rgb(218, 81, 81);
}

section:hover {
    background-color: rgb(189, 189, 189);
}

.checked {
    color: gray;
    text-decoration: line-through;
}
