body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	background: #f9f9f9;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.todo-list-template {
	background: white;
	width: 512px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); /* 그림자 */
	margin: 0 auto; /* 페이지 중앙 정렬 */
	margin-top: 4rem;
}

.title {
	padding: 2rem;
	font-size: 2.5rem;
	text-align: center;
	font-weight: 100;
	background: #22b8cf;
	color: white;
}

.form-wrapper {
	padding: 1rem;
	border-bottom: 1px solid #22b8cf;
}

.todos-wrapper {
	min-height: 5rem;
}