.Insert {
	display: flex;
	background: #697078;
}
.form {
	display: flex;
	width: 100%;
}
.todo {
	display: flex;
	text-align: center;
	background: none;
	outline: none;
	border: none;
	font-size: 1.125rem;
	line-height: 1.5;
	color: white;
	text-align: left;
	padding: 0.5rem;
	flex: 1 auto;
}

.todo::placeholder {
	color: #dee2e6;
	font-size: 1.125rem;
}
.add {
	background: none;
	outline: none;
	border: none;
	background: #868e96;
	color: white;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1.125rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: 0.1s background ease-in;
}
.add:hover {
	background: #adb5bd;
}
