{
	"extends": ["airbnb", "prettier", "plugin:prettier/recommended"],
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": ["error"],
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		"no-console": "off"
	},
	"parser": "babel-eslint"
}