.print {
	background: white;
	width: 512px;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.16);
	margin: 0 auto;
	margin-top: 4rem;
}

.title{
	padding: 2rem;
	font-size: 2.5rem;
	text-align: center;
	font-weight: 300;
	background: rgb(246, 218, 175);
	border: 1px solid rgb(243, 151, 14);
	color: black;
}