doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title PUG express
  body
    nav
      span.navbar
        a(href='/') Home
      span.navbar
        a(href='breeds') Reserve
    body
      block main

